@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
    font-family: 'Nerko One', cursive;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px; /* Increased padding for better spacing */
    border-radius: 8px; /* Slightly rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
    max-width: 500px; /* Increased maximum width */
    width: 100%; /* Ensure the container takes full width within the max-width limit */
    margin-top: 50px; /* Added margin to move the container down */
}

.sign-up-form {
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px; /* Increased margin for more spacing */
}

label {
    display: block;
    margin-bottom: 8px; /* Increased margin */
    color: #333;
}

input {
    width: 100%;
    padding: 12px; /* Increased padding for better usability */
    border: 1px solid #ccc;
    border-radius: 8px; /* Slightly rounded corners */
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px; /* Increased padding for better usability */
    background-color: #04AA6D;
    color: #fff;
    border: none;
    border-radius: 8px; /* Slightly rounded corners */
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #028a5b;
}
